<h3>Author name: <%= @author.name %></h3>
<hr>
<%= link_to "Edit author", edit_author_path(@author), :class => 'btn btn-warning'%>
<%= button_to "Delete author", author_path(@author), method: :delete %>